#resume-badge {
    border: 2px #005fbd;
    font-size: larger;
}

.a-resume {
    text-decoration: none;
}

.a-resume:hover {
    color: white;
    text-decoration: none;
}

#resume-badge:hover {
    background-color: #005fbd;
    color: white;
}